html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fortnite-logo-img {
  width: 100px;
}

.header {
  background-color: rgba(158, 70, 209, 0.62);
}

.skull-trooper-img {
  width: 50%;
  height: 50%;
}

.background-wrapper {
  background-color: rgb(173, 207, 251);
  position: relative;
  width: 100%;
  height: 100%;
}

.login {
  background-color: white;
  color: purple;
  float: right;
  width: 130px;
  margin-right: 300px;
  top: -350px;
  position: relative;
  text-align: center;
}

.email-box {
  margin-right: 300px;
  top: -350px;
}

.password-box {
  margin-right: 300px;
  top: -350px;
  position: relative;
}
